## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# <.drop()> Drops the columns 'EIN' and 'NAME' because they are non-beneficial
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
# <.unique()> Determines the number of unique values in each column
unique_value_counts = application_df.nunique()
# Prints the variable out
unique_value_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
# <.value_counts()> counts how many times data occurs in the columns
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 500].index)

# Replace in dataframe
# <for loop> to replace the data and input into the "Other" column
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
# <.value_counts()> counts how many times data occurs in the columns
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
# <.value_counts()> counts how many times data occurs in the columns
classification_counts = application_df['CLASSIFICATION'].value_counts()
# <print()> displays the variable and prints the data

print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_1 = classification_counts[classification_counts > 1]
# <print()> displays the variable and prints the data
print(classification_counts_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
# <for loop> to replace the data and input into the "Other" column
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
# <.value_counts()> counts how many times data occurs in the columns
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
# <pd.get_dummies()> encodes categorical variables into numerical format
application_encoded_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
# <.drop()> function to drop the column "IS_SUCCESFUL"
X = application_encoded_df.drop(columns=['IS_SUCCESSFUL'])
# Created a y variable for the remaining data
y = application_encoded_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
# <train_test()> splits the preprocessed data into features and targets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
# <.fit()> to input the scaler
X_scaler = scaler.fit(X_train)

# Scale the data
# <.transform()> transforming both training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
# Neuron  # 1
hidden_nodes_layer1 =  80
# Neuron  #2
hidden_nodes_layer2 = 30
# <tf.keras.models.Sequential()> layers are added sequentially
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu')
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
# <.summary()> prints the summary of the model architecture
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
# <.compile()> with binary_crossentropy, adam optimizer, and Accuracy metric
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
# <.fit()>
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 6s 5ms/step - loss: 0.5720 - accuracy: 0.7223
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5554 - accuracy: 0.7308
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7309
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7340
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7324
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7345
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7344
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7350
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7354
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5456 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7350
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7355
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7357
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7372
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7364
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7370
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7375
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7372
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7362
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7376
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7373
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7378
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7379
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7391
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7378
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7372
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7386
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7384
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7371
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7391
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7385
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7392
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7383
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7385
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7390
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7389
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7390
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7383
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7393
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7386
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7393
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7396

In [15]:
# Evaluate the model using the test data
# <.evaluate()> evaluates the trained model's performance using the testing data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
# <print()> prints and displays the variables as well
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5521 - accuracy: 0.7269 - 610ms/epoch - 2ms/step
Loss: 0.5521231293678284, Accuracy: 0.7268804907798767

In [16]:
# Export our model to HDF5 file
# <nn.save()> saves the trained model
nn.save("AlphabetSoupCharity.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(